.speech {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

.directions {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: aquamarine;

}

.song {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 35%;
    padding-right: 65%;
    width: 30%;
    font-weight: bold;



}

.PISH {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(237, 90, 220);


}

.NANK {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(34, 166, 178);
}

.POOH {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(46, 18, 230);

}

.KO {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(121, 213, 60);
}

.YUM {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(166, 63, 85);
}

.PITTI {
    font-size: 25PX;
    font-family: cursive;
    color: rgb(34, 166, 178);
}

.PEEP {
    font-size: 25PX;
    font-family: cursive;
    color: rgb(7, 7, 8);
}

.directions:hover {
    background-color: aqua;
    color: black;
}

.h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

.h5 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    padding-left: 35%;
}

.hitman {
    background-color: #FDF5E6;
    imag
  } 

h1.h1 {
    color: green;
}

.table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    font: italic;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;

    margin: auto;

}

th {
    border: 2px solid black;
    text-align: center;
    background-color: #CD5C5C;
    margin: auto;
    padding: 11.5px;

}

tr:nth-child(even) {
    background-color: #ADD8E6;
}

.PISH span:hover {
    background-color: #DCDCDC;
    text-shadow: 3PX 1.5PX 4PX rgb(18, 18, 18);
    border: 1.5px solid black;
}

.NANK span:hover {
    background-color: #DCDCDC;
    text-shadow: 3PX 1.5PX 4PX #0b0b0b;
    border: 1.5px solid black;

}

.POOH span:hover {
    background-color: #DCDCDC;
    text-shadow: 3PX 1.5PX 4PX #f51212;
    border: 1.5px solid black;

}

.KO span:hover {
    background-color: #DCDCDC;
    text-shadow: 3PX 1.5PX 4PX #100f0f;
    border: 1.5px solid black;

}

.YUM span:hover {
    background-color: #DCDCDC;
    text-shadow: 3PX 1.5PX 4PX #f51212;
    border: 1.5px solid black;

}

.PITTI span:hover {
    background-color: #DCDCDC;

    text-shadow: 3PX 1.5PX 4PX rgb(14, 14, 14);
    border: 1.5px solid black;
}

.PEEP span:hover {
    background-color: whitesmoke;
    text-shadow: 3PX 1.5PX 4PX #FF0000;
    border: 1.5px solid black;

}


ul {

    list-style-type: none;
    margin:0;
    padding: 1px;
    overflow: hidden;
    background-color: #D8BFD8;
}

li {
    float: left;
}

li a {
    display: block;
    color: #100f0f;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

}

li a:hover {
    background-color: #E6E6FA;
}